<script>
  import PageView from '../templates/PageView.svelte';
</script>

<PageView title="Colours">
  <p>Bowler consists of a set of core and supporting colours. Usage of these colours extends in to all areas of components and elements, and as such is perhaps the most variable set of underlying style rules for each instance.</p>

  <p>The colour palette has to cater for a wide variety of options and must be chosen carefully based on it's appropriate level of contrast. Colours are defined within Bowler based on their dark, light, monochrome, or functional suitability. Each colour also has a tint (slightly lighter) and shade (slightly darker) version of itself that allows for subtle stlying detail, such as hover effects or outlines.</p>

  <p>The default set of Bowler colours are below:</p>






  <div class="_spaced">
    <h2 class="ui-heading">Core Colours</h2>
    <section class="_spaced ui-collection -three">
      <div class="ui-card -swatch">
        <span class="colour _tdark-tint">&nbsp;</span>
        <div>Theme Dark Tint</div>
      </div>
      <div class="ui-card -swatch">
        <span class="colour _tdark">&nbsp;</span>
        <div>Theme Dark</div>
      </div>
      <div class="ui-card -swatch">
        <span class="colour _tdark-shade">&nbsp;</span>
        <div>Theme Dark Shade</div>
      </div>
    </section>
    <section class="_spaced ui-collection -three">
      <div class="ui-card -swatch">
        <span class="colour _tlight-tint">&nbsp;</span>
        <div>Theme Light Tint</div>
      </div>
      <div class="ui-card -swatch">
        <span class="colour _tlight">&nbsp;</span>
        <div>Theme Light</div>
      </div>
      <div class="ui-card -swatch">
        <span class="colour _tlight-shade">&nbsp;</span>
        <div>Theme Light Shade</div>
      </div>
    </section>

    <h2 class="ui-heading">Supporting Colours</h2>

    <section class="_spaced ui-collection -three">
      <div class="ui-card -swatch">
        <span class="colour _mdark-tint">&nbsp;</span>
        <div>Theme Mono Dark Tint</div>
      </div>
      <div class="ui-card -swatch">
        <span class="colour _mdark">&nbsp;</span>
        <div>Theme Mono Dark</div>
      </div>
      <div class="ui-card -swatch">
        <span class="colour _mdark-shade">&nbsp;</span>
        <div>Theme Mono Dark Shade</div>
      </div>
    </section>
    <section class="_spaced ui-collection -three _mdark _p-med">
      <div class="ui-card -swatch">
        <span class="colour _mlight-tint">&nbsp;</span>
        <div>Theme Mono Light Tint</div>
      </div>
      <div class="ui-card -swatch">
        <span class="colour _mlight">&nbsp;</span>
        <div>Theme Mono Light</div>
      </div>
      <div class="ui-card -swatch -mlight-shade">
        <span class="colour _mlight-shade">&nbsp;</span>
        <div>Theme Mono Light Shade</div>
      </div>
    </section>

    <h2 class="ui-heading">Functional Colours</h2>
    <section class="_spaced ui-collection -three">
      <div class="ui-card -swatch -cta">
        <span class="colour">&nbsp;</span>
        <div>Action</div>
      </div>
      <div class="ui-card -swatch -functional">
        <span class="colour">&nbsp;</span>
        <div>Function</div>
      </div>
    </section>
    <section class="_spaced ui-collection -three">
      <div class="ui-card -swatch -positive">
        <span class="colour">&nbsp;</span>
        <div>Positive</div>
      </div>
      <div class="ui-card -swatch -negative">
        <span class="colour">&nbsp;</span>
        <div>Negative</div>
      </div>
    </section>
  </div>
</PageView>
