<script>
  import PageView from '../templates/PageView.svelte';
</script>

<PageView title="Technologies">
  <p>Bowler currently use the following across its digital products:</p>
  <ul class="ui-list -features">
    <li class="listitem"><strong>HTML</strong> - As per <a href="https://html.spec.whatwg.org/" target="_blank">HTML5 specfication</a>. Refactoring to align to this new standard where required.</li>
    <li class="listitem"><strong>CSS</strong> - Compiled using <a href="https://www.npmjs.com/package/gulp" target="_blank">Gulp</a> and <a href="https://www.npmjs.com/package/gulp-postcss" target="_blank">PostCSS</a>. We also aim to adhere to <a href="http://rscss.io/" target="_blank">rcss</a> structure.</li>
    <li class="listitem"><strong>JS</strong> - A blend of vanilla JS and minimal <a href="https://svelte.dev/" target="_blank">Svelte components</a>.</li>
    <li class="listitem"><strong>EDM Templates</strong> - Compiled from <a href="https://mjml.io/" target="_blank">MJML</a> to HTML.</li>
  </ul>

  <h2 class="ui-heading">Conventions</h2>
  <p>TBC</p>
</PageView>
