<script>
  import PageView from '../templates/PageView.svelte';
</script>

<PageView title="Typography">
  <h2>Typeface</h2>
  <p>Bowler uses <a href="https://fonts.google.com/specimen/Open+Sans" target="_blank">Open Sans</a> as it's core typeface.</p>

  <p class="_spaced"><img src="/assets/images/open-sans.png" alt="" width="600px"></p>

  <h2>Section heading</h2>

  <section class="_spaced">
    <h3 class="ui-heading -section">
      This is a section heading
    </h3>
  </section>

  <h2>Callout</h2>

  <section class="_spaced ui-callout">
    We are proud to help you become your best with the world's best, including <strong>Tony Robbins</strong>, <strong>Sir Richard Branson</strong>, and <strong>Robert Kiyosaki</strong>
  </section>
</PageView>
