<script>
import PageView from '../templates/PageView.svelte';
</script>

<PageView title="EDM">
  <h2 class="ui-heading">Marketo</h2>
  <p>We currently use Marketo  to schedule, send and track marketing email activity to our subscriber database segments.</p>
  <p>Below are some useful tips and tricks for managing content with Marketo, and integrating it with our digital products.</p>

  <h2 class="ui-heading">EDM examples</h2>

  <p>The design of event EDMs is kept consistent across all events. This is achieved both by our email workflow using MJML and the design of the prominent EDM Hero. Examples of EMDs for each event are:</p>

  <ul>
    <li><a href="/demo/dwd-email" target="_blank">Date with Destiny 2019</a></li>
    <li><a href="/demo/upw-email" target="_blank">Unleash the Power Within 2018</a></li>
    <li><a href="/demo/nac-email" target="_blank">NAC 2018</a></li>
  </ul>

  <h2 class="ui-heading">EDM Hero Guidelines</h2>
  <p>Many of the emails we send promoting upcoming events are geared to inspire and uplift our users. In order to maximise the level of engagement with event information, offers and messages that connect with our audiences, the EDM Hero should be consistently visually powerful, clear and direct across all screen sizes.</p>

  <p class="_justify-center demo">
    <img src="/assets/images/email-hero.png" alt="Email hero">
  </p>
  <p class="_justify-center">
    <img src="/assets/images/email-hero-2.png" alt="Email hero">
  </p>

</PageView>
