:root {

  /* NEW colour vars for better handling colour tones */
  /* Light and dark theme colours */
  --theme-color-dark: rgb(31, 43, 108);
  /* --theme-color-light: rgb(187, 235, 255); */
  /* --theme-color-light: rgb(236, 236, 236); */
  --theme-color-light: rgb(255, 230, 251);

  /* Fallback/default light and dark colours */
  /* Note that these are used as base colours for text etc
  and as such should be kept VERY close to black and white */
  --mono-color-light: #fff;
  --mono-color-dark: #333;

  /* Utility colours */
  /* --cta-color: rgb(233, 112, 0); CTA colour should sufficiently contrast with white text */
  --cta-color: rgb(194, 85, 169); /* CTA colour should sufficiently contrast with white text */
  --functional-color: #666;
  --tint-color: #e6fffe; /* tint CAN be a very light colour */
  --shade-color: #ddd; /* shade should always be mono */

  /* App behaviour colours e.g. warnings/confirmations  */
  --negative-color: #b80043;
  --positive-color: #00ad94;

  /* Deprecated colour vars - REMOVE when no longer used in prod */
  --primary-color: #000e80;
  --primary-color-shade: #000e56;
  --secondary-color: #666;
  --tertiary-color: #444;
  --default-light-color: #fff;
  --default-dark-color: #000;

  /* Fonts */
  --body-font: 'Assistant', sans-serif;
  --brand-font: 'Assistant', sans-serif;
  --default-font-size: 14px;

}
