<script>
  import FullView from './templates/FullView.svelte';
</script>


<FullView title="About Bowler" size="narrow">
  <div class="ui-block _spaced"><a href="/#/docs">&#8701; Bowler Docs</a></div>

  <h2 class="ui-heading _spaced _center">About Bowler</h2>

  <p>Bowler is, or was, a design system I built for a small events agency in Sydney. It consists of two major parts: A robust set of boilerplate CSS classes that allow a consistent look and feel across event websites, and a set of reusable web components built using <a href="https://svelte.dev" target="_blank">Svelte</a> that provided the power and flexibility of a fully featured web application.</p>
  <p>When joining a new workforce there are always challenges. After being part of the team for only a few weeks, I very quickly identified the need for a soultion for building and maintaining small, limited-lifespan websites at speed.<p>

  <p>Existing 'bootstrap' frameworks for this kind of thing aren't new; in fact, there are too many out there to count. So why reinvent the wheel?</p>

  <p><strong>WELL...</strong></p>

  <p>There are a lot of different <em>kinds</em> of wheels for different needs. So let's just say I wanted to put some thought in to what kind of wheel we might need before reaching for a one-size-fits-all solution.</p>

  <p>I'd seen some interesting options at the time for standardising a UI, and brand look-and-feel. However, my personal opinion was that there were benefits to creating our own in-house solution from the ground level up.</p>

  <h2 class="ui-heading">What is a Design System?</h2>

  <p>At this point in time Design Systems are a pretty hot topic. Traditionally, designs for digital products have been limited to the bounds of their own instance; elements within a digital product were in isolated states.</p>

  <p><a href="http://bradfrost.com/blog/post/atomic-web-design/" target="_blank">Atomic Design</a> changed much of the way we design and scale a product, be it a website or application. In relatively recent times this methodology has become inherent in the process of building Web Components using whichever BYO technology suits your business. <a href="https://reactjs.org/" target="_blank">React</a> (Facebook, Instagram), <a href="https://vuejs.org/" target="_blank">Vue</a>, <a href="https://angularjs.org/" target="_blank">Angular</a> and countless other technologies are all examples of technologies used to facilitate Atomic Design in practice.</p>

  <p>The creator of React, Dan Abramov, cites it as his guiding influence.</p>

  <div class="_spaced">
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Since some people get the opposite idea I want to be clear I basically learned React from <a href="https://twitter.com/brad_frost?ref_src=twsrc%5Etfw">@brad_frost</a>. He didn't know that but Atomic Design was a huge influence on my understanding of how to use components, and I'm forever grateful.</p>&mdash; Dan Abramov (@dan_abramov) <a href="https://twitter.com/dan_abramov/status/994019597840998400?ref_src=twsrc%5Etfw">May 9, 2018</a></blockquote>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>

  <h2 class="ui-heading">What do we get from it?</h2>

  <p>Unless you're acquiring pre-built websites off the shelf (the pros and cons of which are a whole other discussion), building websites takes time; planning, scoping, building, reviewing, releasing etc. Decomissioning a website only to start this process over again was counter productive and a waste of valuable production time. As I saw it, the benefits were:</p>

  <ul class="ui-list _mtb-med">
    <li class="listitem"><strong>Solving specific problems</strong>. General solutions <u>generally</u> solve your problems, but sooner or later you'll find a need for something that just isn't supported and you need to extend, or worse, hack it up. I've been there, and trust me, chaos ensues. I'm aware of <a href="https://en.wikipedia.org/wiki/Not_invented_here" target="_blank">NIH</a>, but I felt as though as a small team we understood our needs clearly as a group and with a strong channel of communication could maintain control easily without the risk of it ballooning (I've been there, too).</li>
    <li class="listitem"><strong>Performance/Speed.</strong> One of the existing websites that had been used the previous year had a page load of 12 seconds. That's just WAY too long. I wanted to keep dependencies to a minimum, get back to basics and hit the sub-4-second benchmark across all event websites, and a well-thought-out, low-to-the-ground set of reusable UI components was going to get us there.</li>
    <li class="listitem"><strong>Upskilling.</strong> There's a lot of cool new stuff out there. <a href="https://svelte.dev" target="_blank">Svelte</a> was something I'd been tinkering with in it's early stages and I felt was a good means for our team to get up to date with some of these new ideas. Version 2 of Svelte was similar to <a href="https://vuejs.org/" target="_blank">Vue</a> in many ways, so I saw it as an option that would keep us pretty close to the edge of where frontend technology was heading, and allow us to exchange our own ideas on what we could do with it to enhance our websites (they've since released v3, which has even more benefits that come with it - but at the time v2 was the stable version)</li>
    <li class="listitem"><strong>Added Style Guide goodness.</strong> Almost all websites I saw or worked on during my time at the company required fundamentally the same UX, with some minor differences depending on the scale or prestige of the event itself. When new events rolled around the team would usually take an 'out with the old and in with the new' approach, which to me was a clear waste of valuable work effort. Using a Design System we could be in a constant process of refinement, accounting for a sufficient level of variability in how components were used and looked stylistically, avoiding the pain of starting from scratch or using boilerplate copy+paste code that doesn't scale or improve over time. Web design should be <em>evolutionary</em>, not revolutionary!</li>
  </ul>

  <h2 class="ui-heading">Wait....it isn't finished!</h2>
  <p>That's true. I left the company after 6 months having made plans to relocate to the UK. Bowler is really just a collection of the early work I did outside of my day-to-day tasks, with a view to establishing an internal library for use across multiple sites. It saw production on at least one site - does that qualify it as battle-tested?</p>

  <p>Perhaps not.</p>

  <p>Still, I learned a lot from the process of buiding Bowler. It's certainly not perfect but even in this early stage it went a way towards solving a big problem I've seen creeping in to companies large and small. Given the opportunity I would be happy to revisit it as an option for future commercial projects.</p>

  <p>Here's to the next adventure!</p>
  <p>Thanks for reading,</p>
  <p><strong>Simon</strong></p>

</FullView>
