<script>
  import PageView from './templates/PageView.svelte';
</script>

<style>
.disabled {
  pointer-events: none;
}
</style>

<PageView title="Bowler Docs">

  <h2 class="ui-heading">Let's get started</h2>

  <p>Bowler is a two-part design system built exclusively with the aim of designing and building small, performant websites.</p>

  <h3 class="ui-heading">The first part</h3>
  <p>In it's most simple form, Bowler is a set of flexible boilerplate CSS files that can be used to style HTML markup. Using these classes can give you the look and feel, and <em>some</em> of the functionality, consistent across our events websites. To integrate Bowler with your project you can <del><a href="/guides/getting-started" class="disabled">install it as a git submodule</a></del> and be well on your way in no time. Using Bowler solely as a set of classes will limit you in the kind of interactivity you can achieve, but keep an eye out in the docs for hints on how you can work around these limitations in situations where the choice of technology is predetermined.</p>

  <h3 class="ui-heading">The second part</h3>

  <p>In order to appropriately manage the interactivity we want to use in our websites, I decided to use <a href="https://svelte.dev/" target="_blank">Svelte</a> as a means of building interactive components. While there's no technical reason why you can't roll your own technology and integrate Bowler, the quickest and most reliable way to get started is to <del><a href="/#/guides/getting-started" class="disabled">clone the Bowler boilerplate app</a></del> and use it right out of the box.</p>

</PageView>
