
<Bar theme="tlight" message="<strong>Hey!</strong> Bowler was a POC and the docs are not up to date. Take a pinch of salt with you!" alignment="center" />

<FullView title="Bowler Docs" alignment="center" size="slim">

    <img src="assets/images/logo-bowler.svg" alt="" width="100" class="_mt-max">

    <h1 class="ui-heading -superhero -slight">Bowler</h1>

    <h2 class="ui-heading">Kind of a Design System</h2>

    <div class="ui-block _justify-center"><p><span class="_emphasis">"Great things are often planned"</span><br>- Someone, somewhere</p></div>

    <nav class="demo">
      <a href="/#/docs" class="ui-button -tdark">View docs</a>
    </nav>

    <div class="ui-block -spaced">
      <a href="/#/about">What the heck is Bowler?</a>
    </div>

</FullView>

<script>
  import FullView from './templates/FullView.svelte';
  import Bar from '../components/Bar.svelte';
</script>
