<div class="ui-banner" style="background-image: url({image});">
  <h2 class="ui-heading -section">Next generation banners to enhance your UX</h2>
  <div class="content">
    <p>Here's some text</p>
  </div>
</div>

<script>
  export let image;
</script>
