<div class="ui-bar
 {theme ? '-' + theme : '-tdark'}
 {full ? '-full' : ''}
 {sticky ? '-sticky' : ''}
 {alignment == 'center' ? '_center' : ''}">

  {#if message}
    <p>{@html message}</p>
  {/if}
  {#if cta}
      <a href="{link.href}" class="{link.style == 'button' ? 'ui-button -mlight -slight' : ''}">{link.text}</a>
  {/if}

</div>

<script>

  export let theme;
  export let full;
  export let sticky;
  export let message;
  export let alignment;
  export let cta = "";
  export let link;

</script>
