<div class="countdownInner {stack ? '-stack' : ''} {center ? '-center' : ''}">
  <div><span class='unit'>{days ? days : 'dd'}</span> days</div>
  <div><span class='unit'>{hours ? hours : 'hh'}</span> hrs</div>
  <div><span class='unit'>{minutes ? minutes : 'mm'}</span> mins</div>
  <div><span class='unit'>{seconds ? seconds : 'ss'}</span> secs</div>
</div>

<style>
  .countdownInner {
    font-size: 14px;
  }
  .countdownInner > div {
    display: inline;
    margin-left: 6px;
    margin-right: 6px;
  }
  .countdownInner .unit {
    font-size: 20px;
  }
  .countdownInner.-stack {
    display: flex;
    justify-content: center;
  }
  .countdownInner.-stack > * {
    margin: 15px;
    text-align: center;
  }
  .countdownInner.-stack .unit {
    display: block;
  }

  .countdownInner.-center {
    text-align: center;
  }

  @media (min-width: 500px) {
    .countdownInner.-stack > * {
      margin: 8px;
    }

    .countdownInner {
      font-size: 22px;
    }
    .countdownInner .unit {
      font-size: 40px;
    }
  }
</style>

<script>

  export let countdownDate = null;
  export let stack = false;
  export let center = false;

  let days,
      hours,
      minutes,
      seconds;

  let x = setInterval(changeTime, 1000);

  function changeTime() {
    let countdownDateVar = new Date(countdownDate).getTime(),
      now = new Date().getTime(),
      distance = countdownDateVar - now;
      days = Math.floor(distance / (1000 * 60 * 60 * 24)).toString(),
      hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)).toString(),
      minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60)).toString(),
      seconds = Math.floor((distance % (1000 * 60)) / 1000).toString();

    if (distance < 0) {
      clearInterval(x);
      countdownTimer.innerHTML = "EXPIRED";
    }

  }

</script>
