<div class="ui-lightbox {lightboxIsActive ? '-active' : ''}" on:click={closeLightbox}>
  <div class="ui-panel -rounded {type ? '-' + type : '-offer'}">
    {#if type == 'modal'}
      <div class="ui-bar -primary">
        <div class="ui-heading">{heading}</div>
      </div>
    {/if}
    <button class="close" id="lightboxClose" on:click={closeLightbox}>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm101.8-262.2L295.6 256l62.2 62.2c4.7 4.7 4.7 12.3 0 17l-22.6 22.6c-4.7 4.7-12.3 4.7-17 0L256 295.6l-62.2 62.2c-4.7 4.7-12.3 4.7-17 0l-22.6-22.6c-4.7-4.7-4.7-12.3 0-17l62.2-62.2-62.2-62.2c-4.7-4.7-4.7-12.3 0-17l22.6-22.6c4.7-4.7 12.3-4.7 17 0l62.2 62.2 62.2-62.2c4.7-4.7 12.3-4.7 17 0l22.6 22.6c4.7 4.7 4.7 12.3 0 17z"/></svg>
    </button>
    <div class="content">
      {#if type != 'modal'}
        <p class="ui-heading">{heading}</p>
      {/if}
      {#if content}
        {@html content}
      {/if}
      {#if countdownDate}
        <div class="_spaced">
          <Countdown countdownDate="{countdownDate}" />
        </div>
      {/if}

      {#if ctas}
        <div class="ui-collection -collection{ctas.length}">
          {#each ctas as cta}
            {#if cta.type == 'button'}
              <button href="{cta.link ? cta.link : '#'}" class="ui-button -{cta.type}">{cta.text}</button>
            {:else}
              <a href="
              {cta.link ? cta.link : '#'}" class="ui-button -{cta.style}">{cta.text}</a>
            {/if}
          {/each}
        </div>
      {/if}

      {#if footnote}
        {@html footnote}
      {/if}
    </div>
  </div>
</div>

<style>
  .ui-lightbox {
    display: none;
  }
  .ui-lightbox.-active {
    display: flex;
  }
</style>

<script>

  import Countdown from './Countdown.svelte';
  import { lightboxTrigger } from '../stores.js';

  export let lightboxIsActive = false;
  export let countdownDate = null;
  export let type = "modal";
  export let ctas = [];
  export let footnote = "";
  export let heading = "";
  export let content = "";

  function closeLightbox(e) {
    lightboxTrigger.update((value) => {
      return {
        lightboxIsActive: false
      }
    })
  }

</script>
