{#if !largeScreenView}
  <div class="_p-min _flex -right">
    <svg class="close_icon" on:click={changeMenu} width="100%" height="100%" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g><rect x="0" y="0" width="24" height="24" style="fill:none;fill-rule:nonzero;"/><path d="M12,10.586l4.95,-4.95l1.414,1.414l-4.95,4.95l4.95,4.95l-1.414,1.414l-4.95,-4.95l-4.95,4.95l-1.414,-1.414l4.95,-4.95l-4.95,-4.95l1.414,-1.414l4.95,4.95Z" style="fill-rule:nonzero;"/></g></svg>
  </div>
{/if}
<nav class="ui-list -nav
 {mode == 'vertical' ? '-vertical' : '-horizontal'}
 {alignment == 'center' ? '-centered' : ''}
 {menuIsActive ? '-active' : ''}
">
  {#each sections as section}
    {#if section.name}
      <h3>{section.name}</h3>
    {/if}
    {#each section.items as item}
      {#if item.type == 'logo'}
        <li class="listitem">
          <a href="{item.link}" class="link">
            <img src="{item.image}" alt="{item.name}" class="icon">
          </a>
        </li>
      {:else}
        <li class="listitem">
          <a href="{item.link}" use:link use:active class="{item.type == 'button' ? 'ui-button -slight' : 'link'} {item.style ? '-' + item.style : '-cta'}">{item.name}</a>{#if $location == item.link}<span class="ui-indicator">&#8701;</span>{/if}
        </li>
      {/if}
    {/each}
  {/each}
</nav>

<style>
  .ui-list.-nav.-collapsed {
    display: none;
    margin-top: 1rem;
  }
  .ui-list.-nav.-vertical.-active {
    display: block;
  }
  .ui-list.-nav.-horizontal.-active {
    display: grid;
  }

</style>

<script>

  import { link } from 'svelte-spa-router';
  import active from 'svelte-spa-router/active';
  import { location } from 'svelte-spa-router';
  import { createEventDispatcher } from 'svelte';

  export let alignment = 'left';
  export let menuCollapse = false;
  export let menuIsActive = false;
  export let mode;
  export let sections;
  export let largeScreenView;

  const dispatch = createEventDispatcher();

  function changeMenu() {
    dispatch('message', {
      menuIsActive: false
    });
  }

  function toggleMenu() {
    menuIsActive = !menuIsActive;
  }

</script>
