{#each ticketClasses as ticketClass}
  <div class="ui-card -pricing -{ticketClass.class.toLowerCase()} {ticketClass.soldOut ? '-soldOut' : ''}">
    <div class="label">
      <strong>{ticketClass.class}</strong>
    </div>
    <div class="title">
      ${ticketClass.price}<sup class="text-flag">*</sup>
    </div>
    <div>
      {#if ticketClass.soldOut}
          DOOR PRICE
      {:else}
        <span class="_highlight">
          DOOR PRICE <del>${ticketClass.doorPrice}</del><br>
          <strong>SAVE ${ticketClass.saving}</strong>
        </span>
      {/if}
    </div>
    <div class="content">
      <p><button on:click={() => seatingLighbox(ticketClass)} class="ui-button -tertiary -mono -slight">View Seats</button></p>
      {#if ticketClass.popular}
        <div class="ui-bar -dark _justify-center">
          MOST POPULAR
        </div>
      {/if}
      <ul class="ui-list -features">
        {#each ticketClass.features as feature}
          <li class="listitem">{feature.text}</li>
        {/each}
      </ul>
    </div>
    <section class="content">
      {#if !ticketClass.soldOut}
        {#each ticketClass.ctas as cta}
          {#if cta.type == 'button'}
            <button class="ui-button -{cta.style}" on:click={() => ctaLightbox(ticketClass)}>{cta.text}</button>
          {:else}
            <button class="ui-button -tdark">{cta.text}</button>
          {/if}
        {/each}
      {/if}
    </section>
    {#if ticketClass.soldOut}
      <div class="overlay">
        SOLD OUT
      </div>
    {/if}
  </div>
{/each}

<script>

  import Lightbox from './Lightbox.svelte';
  import { lightboxTrigger } from '../stores.js';

  import { onMount } from 'svelte';

  onMount(async () => {
    document.querySelectorAll('code').forEach((block) => {
      hljs.highlightBlock(block);
    });
  });

  export let ticketClasses = [];
  export let ctas;

  function ctaLightbox(ticketClass) {
    let cityCtas = ticketClass.cities.map(function(item) {
      return {
        text: item.city,
        link: `https://forms.netsuite.com/app/site/hosting/scriptlet.nl?script=690&deploy=1&compid=1246237&h=315777ab633c6f67a8df&tl=login&i=${item.id}`,
        style: "primary"
      }
    });
    lightboxTrigger.update((value) => {
      return {
        lightboxIsActive: true,
        heading: "Seating Plan",
        type: "default",
        ctas: cityCtas
      }
    });
  }

  function seatingLighbox(ticketClass) {
    lightboxTrigger.update((value) => {
      return {
        lightboxIsActive: true,
        heading: "Seating Plan",
        content: `<img src='assets/images/seating-plan-${ticketClass.class.toLowerCase()}.svg' width='350px' style='max-width: 100%;'>`,
        type: "default"
      }
    });
  }

</script>
