
<script>
  import Router from 'svelte-spa-router';
  import routes from '../routes/routes.js';
  import Lightbox from './components/Lightbox.svelte';
  import { lightboxTrigger } from './stores.js';

  let lightboxData = {};

  const unsubscribe = lightboxTrigger.subscribe(value => {
    lightboxData = value;
  });
</script>

<Lightbox {...lightboxData} />
<Router {routes} />
