<PageView title="Banners">
  <p>Bars are strips of content that can be used for alerts, short messages, navigation or calls to action.</p>

  <Banner image="assets/images/demo-banner-bg-1.jpg" />

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

</PageView>

<script>
  import PageView from '../templates/PageView.svelte';
  import Banner from '../../components/Banner.svelte';
</script>
