<script>
  import PageView from '../templates/PageView.svelte';
  import Bar from '../../components/Bar.svelte';
  import {link} from 'svelte-spa-router';
  import { onMount } from 'svelte';

  onMount(async () => {
    document.querySelectorAll('code').forEach((block) => {
      hljs.highlightBlock(block);
    });
  });
</script>

<PageView title="Bars">

  <p>Bars are strips of content that can be used for alerts, short messages, navigation or calls to action.</p>

  <p>Bar variants are defined by the pre-set <a href="/core/colours" use:link >colour palette</a></p>

  <h3>As a Svelte component</h3>

  <pre><code>
{`let barData = {
  message: "string",
  theme: "tdark" || "tdark-outline" || "tlight" || "mdark" || "mdark-outline",
  full: "full" || null,
  sticky: "sticky" || null,
  message: "string" || "<p>html</p>",
  alignment: "left" || "center" || "right",
  cta: "string"
};`}
  </code></pre>

  <pre><code>
    {`<Bar {...barData} />`}
  </code></pre>

  <h2 class="_spaced">Bar Variants</h2>

  <h3>Theme Dark</h3>
  <Bar message="This is a Svelte component" />

  <h3>Theme Light</h3>
  <div class="ui-bar -tlight">Save bundles of $$$ today!</div>

  <h3>Theme Dark Outline</h3>
  <div class="ui-bar -tdark-outline"><strong>Save bundles of $$$ today!</strong> Also, <a href="#">check this out</a></div>

  <h3>Mono Dark</h3>
  <div class="ui-bar -mdark"><strong>Save bundles of $$$ today!</strong> Also, <a href="#">check this out</a></div>

  <h3>Mono Dark Outline</h3>
  <div class="ui-bar -mdark-outline"><strong>Save bundles of $$$ today!</strong> Also, <a href="#">check this out</a></div>



  <h3>Bar with CTA</h3>
  <div class="ui-bar -tdark _center">Save bundles of $$$ today! <a href="#" class="ui-button -mlight -slight _ml-med">CLICK ME</a></div>

  <h3>Sticky bar</h3>
  <div class="ui-bar -primary -sticky">This bar sticks to the top when you scroll</div>

  <div style="padding-top: 5000px;"></div>

</PageView>
