<script>
  import PageView from '../templates/PageView.svelte';
  import { onMount } from 'svelte';

  onMount(async () => {
    document.querySelectorAll('code').forEach((block) => {
      hljs.highlightBlock(block);
    });
  });
</script>

<PageView title="Buttons">
  <p>Buttons are the simplest component and yet are arguably the most important, providing the user with points of action along a journey.</p>

  <h2 class="demo">Button Styles</h2>

  <section class="ui-collection -three">

    <div>
      <button class="ui-button -primary">Primary call to action</button>
      <p class="title">
        Primary
      </p>
    </div>

    <div>
      <button class="ui-button -secondary">Passive call to action</button>
      <p class="title">
        Secondary
      </p>
    </div>

    <div>
      <button class="ui-button -tertiary">Learn more</button>
      <p class="title">
        Tertiary
      </p>
    </div>

    <div>
      <button class="ui-button -functional">Submit</button>
      <p class="title">
        Functional
      </p>
    </div>

    <div>
      <button class="ui-button -primary -slight">Check it out</button>
      <p class="title">
        Slight
      </p>
    </div>

  </section>

  <section class="_spaced">

    <h2 class="ui-heading">Guidelines</h2>

    <h3 class="ui-heading">Primary</h3>

    <p>Primary buttons are used for immediate calls to action that provide an immediate destination or resolution. Ideally, the primary call to action should be positioned high up on the page and and the number of primary style buttons on a page should
      be kept to a minimum.</p>

    <p>Primary button text examples:<br><em>PURCHASE YOUR TICKET, RESERVE YOUR SEAT, CHECKOUT</em></p>

    <h3 class="ui-heading">Secondary</h3>

    <p>Secondary buttons passively support the primary call to action on a page and highlight the desire for discovery.</p>

    <p>Secondary button text examples:<br><em>FIND OUT MORE, VIEW MORE, EVENT DETAILS</em></p>

    <h3 class="ui-heading">Tertiary</h3>

    <p>Tertiary buttons are a general means of navigation and are used for links or actions that are not directly related to the primary purpose of the page.</p>

    <p>Tertary button text examples:<br><em>CONTACT SUPPORT, VIEW ON MAP</em></p>

    <h3 class="ui-heading">Functional</h3>

    <p>Functional buttons are strictly to be used for forms and input submissions.</p>

    <p>Functional button text examples:<br><em>SUBMIT, SEND, SEARCH, APPLY</em></p>

  </section>

  <section class="_spaced">
    <h2 class="ui-heading">Usage</h2>
    <p>Buttons aren't Svelte components at this point, but just plain old classes taken directly from Bowler CSS.</p>
    <p>The general usage rule here is that if a button performs an in-page interaction (a Javascript event trigger, for instance) then a <mark>{`<button>`}</mark> element should be used:</p>

    <pre><code>
    {`
  <button class="ui-button -primary">Click me</button>
    `}
    </code></pre>

    <p>If your button is a link to a separate page or resource then an <mark>{`<a>`}</mark> element should be used:</p>

    <code>
    {`<a href="some-other-page.html" class="ui-button -primary">Click me</a>`}
    </code>

  </section>

</PageView>
