<PageView title="Countdowns">

  <p>A countdown timer can be used to encourage a sense of urgency related to an event.</p>

  <h2 class="_spaced">Countdown Styles</h2>

  <section class="ui-collection -two">

    <div>
      <Countdown countdownDate={countdownData} />
      <p class="title">
        <strong>Inline</strong><br>Days | Hours | Minutes | Seconds
      </p>
    </div>

    <div>
      <div class="countdown -stack" id="countdownStack"></div>
      <Countdown {...countdownStackData} />
      <p class="title">
        <strong>Stacked</strong><br>Days | Hours | Minutes | Seconds
      </p>
    </div>

  </section>

  <section class="_spaced">

    <h2 class="ui-heading">Usage</h2>

    <p>Only one countdown timer should be used per page to avoid repetition.</p>
    <p><strong class="_highlight">HOT TIP!</strong> A countdown can be used effectively within the <a href="/#/components/lightbox" class="link">Lightbox</a> component.</p>
    <p><button class="ui-button -secondary -slight" on:click={showLightbox}>See example</button></p>

  </section>

</PageView>

<script>
  import PageView from '../templates/PageView.svelte';
  import Lightbox from '../../components/Lightbox.svelte';
  import Countdown from '../../components/Countdown.svelte';
  import { lightboxTrigger } from '../../stores.js';

  let countdownData = 'Sep 5, 2019 15:37:25';

  let countdownStackData = {
    countdownDate: 'Sep 5, 2019 15:37:25',
    stack: true
  };

  function showLightbox() {
    lightboxTrigger.update(() => {
      return {
        lightboxIsActive: true,
        heading: 'TICKETS ON SPECIAL',
        content: '<p>Get \'em while they\'re hot!</p>',
        countdownDate: 'Sep 5, 2019 15:37:25'
      }
    });

  }
</script>
