
<PageView title="Lightbox">

  <div class="ui-bar -tdark-outline -centered">
    <div>
      This is a Svelte component! For more detailed information on Svelte components visit <a href="https://svelte.dev/" target="_blank">the docs</a>.
    </div>
  </div>

  <p>A lightbox component is used to highlight or draw attention to the primary purpose of the page.</p>
  <p>A lightbox is shown once per session, meaning that once a user has seen and either engaged with or closed the lightbox they will no longer see it when returning to or refreshing the page (this behaviour is not demonstrated here).</p>
  <p>The lightbox appears 5 seconds after page load is complete.</p>
  <p>You can also show a lightbox when an element is clicked, such as a <a on:click={triggerLightbox}>link</a> or <button class="ui-button -secondary -slight" on:click={triggerLightbox}>Button</button></p>

  <h2 class="ui-heading">Usage</h2>

  <h3>As a Svelte component</h3>

  <p>The Lightbox component differs from the usual Svelte components slightly because it relies on passing data to the <a href="https://svelte.dev/docs#svelte_store" target="_blank">store</a>. Put simply, a store contains data held in a global context, and can be used to make global state changes across components.</p>

  <pre><code>
{`  import { lightboxTrigger } from '../path/to/stores.js';

  function triggerLightbox() {
    lightboxTrigger.update(() => {
      return {
        lightboxIsActive: true || false,
        countdownDate: 'Sep 5, 2019 15:37:25',
        type: "offer" || "modal",
        ctas: [{
          link: "string",
          text: "string",
          style: "primary" || "secondary"
        }...],
        footnote: "string",
        heading: "string",
        content: "string",
      };
    });
  }`}
  </code></pre>

  <pre><code class="html">
    {`<Lightbox {...lightboxData} />`}
  </code></pre>

  <h3>Triggering a lightbox after page load</h3>

  <p>We may want a lightbox to show after a short delay following page load. This can be done in a similar way to the above, only using a <mark>setTimeout</mark> function</p>

  <pre><code>
{`  var lightboxTimer = window.setTimeout(function() {
    lightboxTrigger.update(() => {
      return {
        ...
      };
    });
  }, 5000);`}
  </code></pre>

</PageView>

<script>
  import PageView from '../templates/PageView.svelte';
  import { lightboxTrigger } from '../../stores.js';
  import { onMount } from 'svelte';

  onMount(async () => {
    document.querySelectorAll('code').forEach((block) => {
      hljs.highlightBlock(block);
    });
  });

  function triggerLightbox() {
    lightboxTrigger.update((value) => {
      return {
        lightboxIsActive: true,
        type: "modal",
        heading: "ARE YOU SURE YOU WANT TO EXIT THE CART?",
        content: "<p>Get \'em while they\'re hot!</p>",
        ctas: [{
          link: "#",
          text: "YES, THANKS",
          style: "primary"
        }, {
          link: "#",
          text: "NO, CANCEL",
          style: "tertiary"
        }],
        footnote: "<p><small>*Prices subject to change</small></p>"
      };
    });
  }

  // var lightboxTimer = window.setTimeout(function() {
  //   lightbox.set({lightboxIsDisplayed: true});
  // }, 3000);

</script>
