
<PageView title="Menus">

  <p>The menu component is a simple form of navigation containing links or buttons.</p>

  <h2 class="ui-heading">Default Menu</h2>

  <div class="ui-block _padded">
    <Menu {...pageMenu} largeScreenView={true} />
  </div>

  <h2 class="ui-heading">Vertical Menu</h2>

  <div class="ui-block">
    <Menu {...buttonMenu} largeScreenView={true} />
  </div>

  <h2 class="ui-heading">Svelte component</h2>

  <pre>
    <code class="javascript">
  {`
  let menuData = {
    menuCollapse: true || false,
    menuIsActive: true || false,
    mode: "horizontal" || "vertical",
    sections: [{
      items: [{
        name: "string",
        link: "string",
        type: "logo" || "button" || "link",
        image: "../path/to/image.jpg"
      }...]
    }]
  };`}
    </code>
  </pre>

  <pre>
    <code class="html">
  {`
  <PricingCard {...menuData} />
  `}
    </code>
  </pre>

  <p>Here we can see that even linked images can be used as menu items! The <mark>menuCollapse</mark> property within our component data controls whether our menu will collapse on small screens, and we can set this to <mark>true</mark> or <mark>false</mark> accordingly.</p>

</PageView>

  <script>
    import PageView from '../templates/PageView.svelte';
    import Menu from '../../components/MainMenu.svelte';

    import { onMount } from 'svelte';

    onMount(async () => {
      document.querySelectorAll('code').forEach((block) => {
        hljs.highlightBlock(block);
      });
    });

    let pageMenu = {
      menuCollapse: true,
      menuIsActive: true,
      mode: 'horizontal',
      sections: [{
        items: [{
          name: 'Logo',
          link: '/styleguide/components/menu.html',
          type: 'logo',
          image: '../assets/images/logo-icon.svg'
        }, {
          name: 'Home',
          link: '/styleguide/index.html'
        }, {
          name: 'Menus',
          link: '/styleguide/components/menu.html'
        }, {
          name: 'Buttons',
          link: '/styleguide/components/buttons.html'
        }, {
          name: 'Book Now',
          link: '/styleguide/components/buttons.html',
          type: 'button'
        }]
      }]
    };

    let buttonMenu = {
      menuCollapse: false,
      menuIsActive: true,
      mode: 'vertical',
      alignment: 'left',
      sections: [{
        items: [{
          name: 'Button 1',
          link: '/styleguide/index.html',
          type: 'button'
        }, {
          name: 'Button 2',
          link: '/styleguide/components/menu.html',
          type: 'button',
          class: 'secondary'
        }, {
          name: 'Button 3',
          link: '/styleguide/components/buttons.html',
          type: 'button',
          class: 'tertiary'
        }, {
          name: 'Button 4',
          link: '/styleguide/components/buttons.html',
          type: 'button',
          class: 'tertiary -mono'
        }]
      }]
    };
  </script>
