<PageView title="Pricing Card">

  <p>Pricing Cards are a means of displaying tiered pricing across events in a way that can be easily identified and compared.</p>

  <p>Pricing Cards are arguably the most commonly updated component across our event sites. This is because ticket pricing will change over the course of the lead up to each event.</p>

  <p>For this reason there are a number of variables that determine the <em>state</em> (appearance) of each pricing card at any given time.</p>

  <h2 class="demo">Default Style</h2>

  <section class="ui-collection -two">
    <PricingCard {...pricingData} />
  </section>

  <section class="demo">

    <h2 class="ui-heading">Usage</h2>

    <h3>As a Svelte component</h3>

    <pre><code class="javascript">
  {`
  let pricingData = {
    ticketClasses: [{
      class: "string",
      cities: [{
        city: "string",
        id: "string"
      }...],
      price: number,
      doorPrice: number,
      saving: number,
      features: [{
        text: "string"
      }...],
      ctas: [{
        text: "string",
        type: "button" || "link",
        style: "primary" || "secondary"
      }...]
    }]
  };
    `}
    </code></pre>

    <pre><code class="html">
  {`
  <PricingCard {...pricingData} />
    `}
    </code></pre>

  </section>

</PageView>

<script>

  import PageView from '../templates/PageView.svelte';
  import PricingCard from '../../components/PricingCard.svelte';
  import { onMount } from 'svelte';

  onMount(async () => {
    document.querySelectorAll('code').forEach((block) => {
      hljs.highlightBlock(block);
    });
  });

  let pricingData = {
    ticketClasses: [{
      class: "Gold",
      cities: [{
        city: "Sydney",
        id: "10207"
      }, {
        city: "Melbourne",
        id: "10211"
      }, {
        city: "Brisbane",
        id: "10201"
      }],
      price: "99",
      doorPrice: "199",
      saving: "100",
      features: [{
        text: "GENERAL ADMISSION TO THE EVENT"
      }, {
        text: "WORKBOOK: CAPTURE INSIGHTS & NEXT STEPS"
      }, {
        text: "WEALTH MASTERS DIGITAL TOOLBOX"
      }],
      ctas: [{
        text: "Book Now",
        type: "button",
        style: "primary"
      }]
    }, {
      class: "VIP",
      cities: [{
        city: "Sydney",
        id: "10206"
      }, {
        city: "Melbourne",
        id: "10212"
      }, {
        city: "Brisbane",
        id: "10202"
      }],
      popular: true,
      price: "199",
      doorPrice: "399",
      saving: "200",
      features: [{
        text: "VIP REGISTRATION"
      }, {
        text: "EXCLUSIVE VIP SEATING"
      }, {
        text: "WEALTH MASTERS DIGITAL TOOLBOX"
      }, {
        text: "WORKBOOK: CAPTURE INSIGHTS & NEXT STEPS"
      }],
      ctas: [{
        text: "Book Now",
        type: "button",
        style: "primary"
      }]
    }]
  };

</script>
