<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="app/dist/css/style.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Assistant:400,700,800&display=swap" rel="stylesheet">
  <title>{ title }</title>
</head>
<body>

  <div class="ui-wrap">

    <main class="ui-container -slim">

      <article role="main" class="ui-container -slim">

        {@html content}

      </article>

    </main>

  </div>

</body>
</html>

<script>
  export let title;
  export let content;
</script>
