

<div class="ui-wrap">

  <main class="ui-container {alignment == 'center' ? '-center' : ''}">

    <article role="main" class="ui-container {'-' + size}">

      <div class="ui-block _plr-med">

        <slot />

      </div>

    </article>

  </main>

</div>



<script>
  export let title;
  export let alignment;
  export let size;
</script>
