<div class="ui-wrap">

  <main class="ui-view {menuIsActive ? '-menuIsActive' : ''}">

    <header class="page-header">
      {#if !largeScreenView}
        <svg class="_ml-med close_icon" fill="#fff" on:click={toggleMenu} xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g>
            <path fill="none" d="M0 0h24v24H0z"/>
            <path d="M3 4h18v2H3V4zm0 7h18v2H3v-2zm0 7h18v2H3v-2z"/>
        </g>
        </svg>
      {/if}
        <div class="ui-block -centered">
          <a href="/"><img src="/assets/images/logo-bowler-light.svg" alt="" width="70"></a>
        </div>
        <div class="_plr-med">
          <div class="ui-container -slim">
            <h1 class="ui-heading -hero">{title}</h1>
          </div>
        </div>
    </header>

    <aside class="ui-side _p-med" id="main-menu">

      <MainMenu sections={sections} mode="vertical" largeScreenView={largeScreenView} on:message={toggleMenu} />

    </aside>

    <article role="main" class="_p-med">

      <div class="ui-container -slim">
        <slot />
      </div>

    </article>

  </main>

</div>

  <script>
    import MainMenu from '../../components/MainMenu.svelte';
    export let title;
    export let menuIsActive = false;
    export let largeScreenView;

    function toggleMenu() {
      menuIsActive = !menuIsActive;
    }

    function checkViewport(mediaQuery) {
      largeScreenView = mediaQuery.matches;
    }

    var mediaQuery = window.matchMedia("(min-width: 68.75em)")
    checkViewport(mediaQuery);
    mediaQuery.addListener(checkViewport);

    let sections = [{
      name: "Introduction",
      items: [{
        name: "About Bowler",
        link: "/about"
      }, {
        name: "Introduction",
        link: "/docs"
      }, {
          name: "Technologies",
          link: "/core/technologies"
      }]
    }, {
      name: "Core",
      items: [{
          name: "Colours",
          link: "/core/colours"
      }, {
          name: "Typography",
          link: "/core/typography"
      }]
    }, {
      name: "Components",
      items: [{
          name: "Button",
          link: "/components/button"
      }, {
          name: "Bar",
          link: "/components/bar"
      }, {
          name: "Lightbox",
          link: "/components/lightbox"
      }, {
          name: "Pricing Card",
          link: "/components/pricingcard"
      }, {
          name: "Countdown",
          link: "/components/countdown"
      }, {
          name: "Banner",
          link: "/components/banner"
      }, {
          name: "Menu",
          link: "/components/menu"
      }]
    }, {
      name: "Design",
      items: [{
          name: "EDM",
          link: "/design/edm"
      }]
    }];


  </script>
