
<h2>Bowler as a Git Submodule</h2>

<p>At the time of writing, the way we integrate the Style Guide with our websites is by using a Git submodule. This allows us to work independently on the Style Guide and have it nested within individual sites so that they can all benefit from future enhancements (and bug fixes).</p>

<p>Open a Terminal window within your site directory and run <code class="language-markup">git submodule add https://gitlab.com/simonlayfield/bowler.git app</code> (ensure there is no existing folder named app).</p>
<p>This will add an <strong>app</strong> directory containing the master branch of the Bowler library.</p>

<h3>Compiling Bowler</h3>
<p>In the Terminal window, switch to the newly created <strong>app</strong> folder with <code class="language-markup">cd app</code></p>
<p>Now we're inside the Bowler directory we can build all of our components, but <strong>first</strong> we need to pull all of the dependencies!</p>
<p>Run <code class="language-markup">npm install</code></p>
<p>A <strong>node_modules</strong> directory will appear - but we can just leave that be.</p>
<p>Now we have our dependencies, run <code class="language-markup">gulp build</code>. This will generate all of the Style Guide components in the <strong>dist</strong> directory for inclusion in our website.</p>

<p class=_spaced><strong><em>Keep your Terminal open - we'll need this later!</em></strong></p>

<h3>Including Bowler CSS</h3>
<p>The decision was made early on to keep the Style Guide in a state that could be moved over to a new technology relatively painlessly at a later date, and as such Style Guide CSS is not coupled with it's components. CSS has been written with a view to being componentised but at this point is straightforward css as separate files, bundled and treated using Gulp and PostCSS.</p>

<p>The build task we ran before has also compiled the Style Guide CSS in to one single file we can include in to our website, like so:</p>

<pre><code class="language-markup">&#x3C;link rel=&#x22;stylesheet&#x22; href=&#x22;./app/dist/css/style.css&#x22;&#x3E;</code></pre>

<p>The <code class="language-markup">href</code> here links to the compiled CSS in the dist directory of the Bowler library. Make sure when including this file in pages that it is linked correctly.</p>

<p><strong><em>Hang on! All the colours are wrong!</em></strong></p>

<h3>Bowler CSS Root Overrides</h3>

<p>Now that we've linked up our compiled CSS we can add some overrides and re-compile it to see the desired changes. In the root of your website, create the directories <strong>assets/css</strong>, and within it create <strong>_config.css</strong>.</p>

<p>Bowler has root variables that can be overridden to customise the top level look and feel of the site. In the Style Guide directory open <strong>src/css/_config-default.css</strong>. See the <code class="lang-markup">:root {}</code> declaration at the top?</p>

<p>The basic idea is to add <em>new</em> root variables to override this set, but we don't want to do this within Bowler as this will become <em>part of the Bowler</em>! Copy everything within the <code class="language-markup">root: {}</code> declaration, including the declaration itself.</p>

<p>At the time of writing this is:</p>

<pre><code class="language-css">
  :root {

    --primary-color: #000e80;
    --primary-color-shade: #000e56;
    --secondary-color: #000;
    --tertiary-color: #444;

    --functional-color: #666;
    --tint-color: #f1f1f1;
    --shade-color: #ddd;

    --default-light-color: #fff;
    --default-dark-color: #000;

    --body-font: Arial, sans-serif;
    --brand-font: &#x27;Raleway&#x27;, sans-serif;
    --default-font-size: 14px;

  }
</pre></code>

<p>Paste it in to the new <code class="language-markup">_config.css</code> file we created earlier inside your project and change the values as necessary.</p>

<p>Now all we need to do is run the necessary Gulp task to recompile our CSS. Head back to your Terminal, which should still be open within the Style Guide directory, and run <code class="language-markup">gulp css</code>.</p>

<p><strong>Voila!</strong> The Style Guide CSS has been recompiled along with your overrides.</p>

<p>For further developing Style Guide components, see Editing Style Guide Components.</p>

<h3>Additional Notes:</h3>

<h4>Why not use SASS?</h4>
<p><em>"I have known adventures, seen places you people will never see, I've been Offworld and back...frontiers!"</em></p>
<p>SASS is a powerful tool, but all features considered at this point it only offers further abstraction and more moving parts. I've experienced the complexity and bloat that the misuse of SASS can bring to projects and I'd rather remove that risk altogether early on. The Style Guide is small, performant and kept as close to web standards as possible. Using <a href="https://postcss.org/" target="_blank">PostCSS</a> allows us to stay close to those standards and benefit from a handful of nifty features SASS provides, namely nesting and variables. I strongly urge this to be maintained moving forward, with the inclusion of SASS only in the event of there being SASS features that are considered essential to further development of the Style Guide.</p>

<script src="/app/dist/js/components/MainMenu.js"></script>
<script src="/assets/js/main.js"></script>
